body {
  font-size: 12pt;
}

.mono {
  font-family: monospace;
  font-size: 1em;
  white-space: pre;
  overflow: scroll;
}

section[role="main"] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-template-rows: 20em;
}